@font-face {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url('../../Desktop/Segoe\ UI.ttf');
}
*{
    box-sizing: border-box;
    text-decoration: none;
    /* margin: 0; */
}
body{
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#gifNav{
    width: 100%;
}
#gifNav img{
    width: 100%;
    height: 100%;
}
.k_services{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.k_services div{
    width: 90px;
    height: 30px;

}
.k_services div img{
    width: 100%;
    cursor: pointer;
}
nav{
    background-color: #ed017f;
    height: 80px;
    display: flex;
    /* justify-content: space-between; */
    padding: 0 20px;
    position: relative;
}

nav img{
    height: 100%;
}
#store{
    /* background-color: red; */
    width: 80px;
    color: white;
    padding: 10px;
}
#store:hover{
    background-color: white;
    color: hotpink;
    cursor: pointer;
}
#sell{
    /* background-color: blue; */
    width: 80px;
    color: white;
    padding: 10px;
}
#sell:hover{
    background-color: white;
    color: hotpink;
    cursor: pointer; 
}
#input{
    /* background-color: purple; */
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: solid orange 1px; */
}
#input input{
    height: 40px;
    width: 92%;
    outline: none;
    border: none;
    text-indent: 10px;
    border-radius: 3px 0px 0px 3px;
}
#input input::placeholder{
    /* font-size: large; */
    font-size: 14px;
}

#input .searchCont{
    height: 40px;
    width: 8%;
    background-color: #fba100;
    display: flex;
    align-items: center;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}
.searchCont i{
    width: 100%;
    text-align: center;
}
#help{
    /* background-color: green; */
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
}
.dropDown-help{
    background-color: #ffffff;
    color: black;
    width: 180px;
    position: absolute;
    top: 100%; 
    left: 0px;
    display: none;
    max-height: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 10s ease;
}
.dropDown-help p{
    font-size: small;
    padding: 10px;
    margin: 0;
    /* display: none; */
}
.dropDown-help p:hover{
    background-color: #ededed;
    color: #ed017f;
}
#help .helpIconCont{
    background-color: #e084b2;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
 
}
.helpIconCont .fa-question{
    font-size: 22px;
}
#help .fa-chevron-down{
    font-size: 12px;
}
#help:hover{
    background-color: white;
    color: hotpink;
    cursor: pointer;
}
#help:hover .fa-solid{
    color: rgb(221, 18, 119) !important;
}
#help:hover .dropDown-help{
    display: block;
    opacity: 1;
    max-height: max-content;
    transform: translateY(0);
}
#login{
    /* background-color: red; */
    width: 100px;
    color: white;
    cursor: pointer;
}
#login a{
    color: white;
}
#login:hover {
    background-color: white;
    color: hotpink;
    cursor: pointer;
}
#cart-container{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: 15px;
}

#cart-box{
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #33b27b;
    color: white;
    width: 150px;
    height: 40px;
    gap: 10px;
    cursor: pointer;
}
#cart-box:hover{
    background-color: #18764d;
}
#cart-box img{
    height: 20px;
}
#span{
    background-color: rgb(222, 216, 216);
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: white;
}
#secondNav{
    display: flex;
    background-color: #94004f;
    color: white;
    height: 50px;
    font-size: 14px;
    /* width: 1900px; */
    /* position: relative; */
}
.inner{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* position: relative; */
}
.inner:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.inner:hover .dropDown-wrapper{
    display: block;
}
.dropDown-wrapper{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
}
.dropDown{
    display: grid;
    grid-template-columns: 20% auto;
    /* background-color: #ed017f; */
    height: 70vh;
    position: relative;
}
.dropDown::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    height: 30%;
    /* width: 100vw; */
    top: 100%;
    left: 0; right: 0;
}
.dropDown .items{
    overflow-y: scroll;
}
.items{
    scrollbar-width: thin;
    scrollbar-color: rgb(203, 202, 202) transparent;
    /* scrollbar-arrow-color: transparent; */
}
.items p{
    padding: 10px;
    margin: 0;
}
.inner img{
    height: 20px;
}
.left{
    background-color: rgb(237, 237, 240);
    padding-top: 10px;
}
.left p{
    /* background-color: white; */
}
.left .selected{
    background-color: white;
    color: #b1015f;
}

.items::-webkit-scrollbar{
    background-color: #242424;
    width: 4px;
}
.right{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* overflow-y: scroll; */
}
.right .first{
    background-color: rgb(250, 252, 252);
    display: grid;
    grid-template-columns: repeat(3, max-content);
    /* grid-template-rows: 200px; */
    padding: 30px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* padding-right: 100px; */
}
.right .second{
    background-color: white;
    padding: 30px 30px 0 0;
}
.right h4{
    margin: 0;
}
.para{
    padding-left: 0px !important;
}
.para:hover{
    color: #da0f7b;
    /* padding-left: 5px !important; */
}
.right .second img{
    height: 350px;
    width: 100%;
}
.left .dropDown .left p{
    background-color: red;
}
/* style for all category with hamburger menu ends here */

/* style for dropdown on second navbar starts here */
.navDrop-wrapper{
    position: absolute;
    background-color: #fff;
    top: 100%; right: 0; left: 0;
    /* height: max-content; */
    display: none;
}
.navDrop{
    position: relative;
    height: 70vh;
    /* background-color: #b1015f; */
    overflow-y: scroll;
    /* display: grid; */
    /* grid-template-columns: 4fr 1fr; */
    /* text-align: center; */
}
.navDrop-wrapper.visible{
    display: block;
}
.navDrop-wrapper::before{
    content: '';
    height: 30%; 
    background-color: rgba(0, 0, 0, 0.85);
    left: 0; right: 0; top: 100%;
    position: absolute;
}
.navDrop .cont{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* background-color: #18764d; */
    padding: 30px;
    color: black;
}
.navDrop .cont .first{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* overflow-y: scroll; */
}
.cont .first h4{
    margin: 0 !important;
}
.cont .first p{
    padding-left: 0px;
}
.navDrop .cont .second{
    /* background-color: #94004f; */
}
.cont .second img{
    height: 350px;
    /* height: 300%; */
    width: 100%;
}
/* add the default select state for list */
#phonesTablet{
    height: 100px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;

}
#phones{
    height: 100%;
    width: 30%;
}
#phones #innerPhone p{
    margin-bottom: 0;
    font-size: 12px;
}
#phones #innerPhone h1{
    margin-top: 0;
}
#sort{
    /* background-color: blue; */
    height: 100%;
    width: 40%;
}
#innerPhone{
    /* background-color: aqua; */
    margin-left: 30px;
}
#innerPhone p .fa-chevron-right{
    font-size: 10px;
}
#sortInner{
    /* background-color: bisque; */
    display: flex;
    justify-content: end;
}
li{
    list-style-type: none;
    font-size: 14px;
    border: solid .5px rgb(222, 219, 219);
    padding: 5px;
    cursor: pointer;
}
ul{
    display: flex;
}
#contContainer{
    /* background-color: cadetblue; */
    display: flex;
    justify-content: end;
}
#contContainer .active-sort{
    border: solid #ed017f .5px;
}
#cont{
    /* background-color: blueviolet; */
    height: 50%;
    width: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#cont ul li{
    font-size: 11px;
}
#cont p{
    font-size: 12px;
}
#sortInner p{
    font-size: 10px;
    margin-right: 30px;
    color: #a8a4a6;
}
#remove{
    border-left: none;
    border-right: none;
}
/*Hero section */
#sect{
    /* background-color: #242424; */
}
.browseandCategory{
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}
#browseCont{
    /* background-color: red; */
    height: 100%;
    /* width: 20%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.browseFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#tablets li{
    border: unset;
    font-size: 12px;
}
#tablets{
    display: unset;
}
#white{
    background-color: #fff;
    width: 90%;
    margin-top: 15px;
    padding: 5px;
}
.inputP{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    width: 200px;
    gap: 5px;
    margin: 0;
    padding: 0;
}
.inputP p{
    margin: 5px;
}
.inputP input{
    height: 13px;
    width: 13px;
}
#main{
    display: grid;
    grid-template-rows: 250px 4fr;
    row-gap: 20px;
}
#top{
    background-color: hotpink;
    /* height: 200px; */
    margin-top: 30px;
    /* position: absolute; */
}
#top img{
    height: 100%;
    width: 100%;
}
#productCont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 20px;
    margin-top: 10px;
}
.productItem{
    background-color: #ffff;
    /* height: 350px; */
    width: 230px;
    padding: 50px 10px 10px 10px;
    position: relative;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* text-align: center; */
}
.productItem:hover{
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.productItem .saveProduct{
    background-color: #ededed;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%; right: 5%;
    padding: 8px;
    cursor: pointer;
}
.productItem .saveProduct:hover{
    background-color: #fba100;
}
.productItem .saveProduct i{
    font-size: 12px;
}
.productItem .prodBtn{
    text-align: center;
}
.productItem hr{
    border: solid .5px #eeeded;
    border-bottom: none;
}
.productItem button{
    padding: 10px 40px;
    border: solid 1px #ed017f;
    background-color: white;
    color: #f84ca2;
    margin: 10px 0;
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
}
.prodBtn button:hover{
    background-color: #ed017f;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.productItem p{
    margin: 0;
}
.prodImg{
    background-color: rgb(177, 176, 176);
    height: 250px;
    height: 220px;
    margin-bottom: 20px;
}
.prodImg img{
    height: 100%;
    width: 100%;
}
.prodPrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0; margin: 0;
}
.prodPrice h3{
    color: #b1015f;
}
.prodPrice h3 i{
    font-size: 13px;
}
.prodPrice h3, 
.prodPrice p{
    margin: 0;
} 
.prodSpan{
    background-color: rgba(248, 72, 72, 0.2);
    padding: 2px;
    border-radius: 10px;
}
.productItem .p{
    color: green;
    padding: 0; margin: 0;
}
.topSpan{
    background-color: rgba(196, 14, 14, 0.2);
    padding: 10px;
    border-radius: 0 10px 10px 0;
    position: absolute;
}
.soldBy{
    font-size: 12px;
    color: #b1acaf;
}
.soldBy span{
    color: rgb(117, 35, 194);
}
.ratingCont{
    display: flex;
    font-size: 14px;
    gap: 5px;
}
#nav-section{
    position: sticky;
    /* position: relative; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.drop-down-wrapper{
    position: relative;
    display: none;
    /* background-color: white; */
    /* position: fixed; */
    /* width: 40%; */
    /* right: 0; */
    /* top: 0; */
    /* bottom: 0; */
    /* z-index: 1001; */
    /* display: flex; */
    /* flex-direction: column; */
}
.drop-down-wrapper.show{
    display: block;
}
.drop-down-wrapper::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.drop-down-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10002;
    right: 0;
    top: 0;
}
.drop-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
drop-down  a{
    text-decoration: none;
    border: solid .5px rgb(94, 92, 92);
    padding: 2px 10px;
    /* color: black; */
    gap: 5px;

}
.drop-down #login{
    display: flex;
    justify-content: space-between;
    /* background-color: #ed017f; */
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 5px 5px 3px 1px #b1acaf;
    padding: 0 20px;
}
.drop-down h2, 
.drop-down a{
    color: black;
    text-decoration: none;
    /* width: max-content; */
    display: flex;
    align-items: center;
}
#login a{
    height: 20px;
    border: solid .5px grey;
    padding: 0 5px;
}
.drop-down a span{
    color: black;
}
#form-container{
    display: flex;
    justify-content: center;
    /* background-color: #ed017f; */
    width: 100%;
}
#form-container form{
    margin-top: 30px;
    width: 90%;
    /* background-color: #7e2525; */
}
.input-wrapper input{
    border: solid .2px;
    width: 100%;
}
input[type='button']{
    background-color: #33b27b;
    color: white;
    padding: 5px 10px;  
    border: none;
}
#hr{
    height: 20px;
    /* background-color: red; */
    padding: 4px 0;
    margin-top: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
}
#hr .circle{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid .5px grey;
    top: 1px;
    left: 50%;
    background-color: white;
}
#hr span{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr hr{
    background-color: #c2bfbf;
}
#btn-link{
    display: flex;
    margin-top: 30px;
}
#btn-link input{
    background-color: transparent;
    border: solid .2px blue;
    padding: 5px 10px;
    color: blue;
}

/* footer section */
.footer-section{
    margin-top: 30px;
}
#summary{
    height: 400px;
    display: flex;
    justify-content: end;
}
#sum{
    background-color: #fff;
    color: #5a5f66;
    /* height: 80%; */
    width: 75%;
    margin-right: 40px;
    border-radius: 3px 3px 0 0;
    padding: 15px;
    padding-bottom: 100px;
}
#sum h3{
    margin: 0;
}
#sum p{
    font-size: 14px;
    margin-top: 0;
    line-height: 20px;
}
#footer-cont{
    /* height: 300px; */
    background-color: #0c0c0c;
    margin-top: 0;
    color: #b5b5b5;
    /* display: flex; */
}
#ash-cont-wrapper .ash-cont{
    background-color: #2e2e2e;
    height: 30%;
    display: flex;
    width: 95%;
    color: #b5b5b5;
    gap: 30px;
}
#ash-cont-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}
.ash-inner{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* justify-content: center; */
}
.ash-cont .deals{
    margin-left: 30px;
}
.ash-inner .icon-cont{
    background-color: white;
    /* padding: 10px; */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ash-inner i{
    font-size: 16px;
}
.ash-inner .text h4{
    margin-bottom: 0;
    font-size: 14px;
}
.ash-inner .text p{
    margin-top: 0;
    font-size: 14px;
}
.ash-inner .text p:hover,
.ash-inner .text h4:hover{
    color: #ffff;
}
.ash-inner .sub{
    /* border: solid #18764d 2px; */
    height: 40px;
    display: flex;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
}
.ash-inner .sub a{
    background-color: #ed017f;
    color: white;
    margin-left: 0;
    height: 100%;
    padding: 0 8px;
    display: flex;
    align-items: center;
    /* padding: 10px; */
}
.ash-inner .sub input{
    border: none;
    outline: none;
    text-indent: 10px;
}
.nav-links-cont-wrapper{
    display: flex;
    justify-content: center;
}
.nav-links-cont{
    display: flex;
    gap: 30px;
    width: 95%;
}


/*  */

#icons-cont-wrapper{
    margin-top: 16px;
    width: 400px;
}
#download-on-store-cont{
    /* background-color: yellow; */
    display: flex;
    gap: 30px;

}
#google-store{
    background-color: #000000;
    border-radius: 4px;
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 6px;
}
#apple-store{
    background-color: #000000;
    border-radius: 6px;
    width: 150px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#apple-store i{
    font-size: 2rem;
}
#google-store img{
    height: 30px;
}
#google-store  div h3{
    font-size: medium;
    margin-top: 0;
}
#google-store  div p{
    font-size: 12px;
    margin-bottom: 0;
}
#apple-store  div p{
    font-size: 12px;
    margin-bottom: 0;
}
#apple-store div h3{
    font-size: medium;
    margin-top: 0;
    font-size: 14px;
}
#__socials h3{
    margin-bottom: 0;
    font-weight: medium;
}
#all-icons-cont{
    display: flex;
    gap: 20px;
}
.links h4{
    margin-bottom: 0;
}
.links p{
    font-size: 13px;
    margin-bottom: 0;
}
.social_icon-cont{
    background-color: #2e2e2e;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr h4{
    /* background-color: #000000; */
    border: solid #333333 .5px;
    width: 30%;
    /* height: 2px; */
}
#hr p{
    font-size: 12px;
    color: #b5b5b5;
}
/* product detail page style */
#prod-detail-section{
    /* background-color: #18764d; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.prod-detail-wrapper{
    height: 100%;
    /* background-color: #ffff; */
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1.3fr;
    column-gap: 15px;

}
.prod-detail-contain{
    display: grid;
    background-color: #ffff;
    grid-template-columns: repeat(2, 1fr);
    /* z-index: 1000; */
    padding: 20px;

}
.prod-detail-contain .phone-contain{
    /* border: none; */
    display: flex;
    justify-content: center;
}
.phone-contain img{
    height: 20rem;
}
.thumbnail-cont{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.thumbnail-cont img{
    height: 100%;
    width: 40px;
}
.thumbnail-cont .active{
    border: #fcb63a solid .3px;
}

.prod-detail hr{
    background-color: rgb(235, 234, 234);
    border: none;
    height: .5px;
    
}
.prod-detail-contain .prod-detail h4{
    color: #404553;
    font-size: 1.5rem;
    font-weight: 600;
}
.prod-detail .qty{
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.prod-detail .qty ul li:nth-child(2){
    padding: 5px 15px;
}
.prod-detail .bulkPurchase{
    background-color: #fef2f9;
    /* height: 30px; */
    width: 50%;
    font-size: smaller;
    padding: 8px;
    border-radius: 3px;
}
.bulkPurchase p{
    margin: 0;
}
.bulkPurchase span{
    color: #f44696;
}
.add-to-cart{
    display: flex;
    align-items: center;
}
.add-to-cart button{
    background-color: #33b27b;
    color: white;
    border: none;
    width: 60%;
    padding: 10px;
    border-radius: 3px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
.add-to-cart button:hover{
    background-color: #18764d;
}
.add-to-cart .icon-cont{
    background-color: #9b9b9b;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-to-cart .icon-save-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #a8a4a6;
    gap: 10px;
}
.add-to-cart .icon-save-cont p{
    font-size: 12px;
}
.add-to-cart .icon-save-cont .icon-cont i{
    font-size: large;
}
.add-to-cart .icon-save-cont .icon-cont:hover{
    background-color: #fba100;
    cursor: pointer;
}
.prod-detail .protect-plan{
    background-color: #fde6f2;
    width: 95%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
}
.prod-detail .delivery-icon-cont{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social-icon-cont{
    display: flex;
    gap: 20px;
}
.social-icon-cont .icon-cont{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid .5px rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}
#shippn-info-wrapper{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;


}
.prod-shippn-info{
    height: 100%;
    background-color: #fff;
    padding: 20px;
}
.prod-shippn-info hr{
    border: none;
    height: .5px;
    background-color: #e3e4e5;
}
.prod-shippn-info .ship-cont{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* padding: 20px; */
}
.prod-shippn-info .ship-cont h4{
    margin: 0;
    color: #5a5f66;
}
.prod-shippn-info .ship-cont p{
    margin: 0;
    font-size: 12px;
    color: #5a5f66;
}
.prod-shippn-info .ship-cont i{
    color: #f24ea6;
}
#merchant-info-cont{
    background-color: #fff;
    padding: 20px;
}
#merchant-info-cont .sellerInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#merchant-info-cont .sellerInfo a{
    background-color: #d9cef4;
    padding: 5px;
    border-radius: 4px;
    color: black;
    font-size: 12px;
}
#merchant-info-cont .seller{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
}
#merchant-info-cont .seller #userIcon{
    background-color: #9a0052;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    color: white;

}
#merchant-info-cont .seller #userName{
    margin-bottom: 15px;
}
#merchant-info-cont .seller #userName h1{
    color: #644ba0;
    margin: 0;
    font-size: 1.2rem;
}
#merchant-info-cont .seller #userName p{
    margin: 0;
    color: #9b9b9b;
}
#merchant-record {
    display: flex;
    /* background-color: #fcb63a; */
    justify-content: space-between;
    margin: 0;
}
#merchant-record .sales > h4,
#merchant-record .sales > h2,
#merchant-record .sales > p
{
    margin: 0;
}
#merchant-record #bar-cont p{
    margin: 0;
    font-size: 12px;
}
#merchant-record #bar-cont .__bar{
    background-color: white;
    position: relative;
}
#merchant-record #bar-cont .__bar .count{
    height: 1rem;
    background-color: #00a311;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
#merchant-record #bar-cont .__bar .count div{
    background-color: #33b540;
    transform: skew(45deg);
    height: 30px;
    /* position: absolute; */
    /* left: 0; top: 0; bottom: 0; right: 0; */

}
#merchant-record #bar-cont .__bar span{
    /* width: 50%; */
    position: absolute;
    left: 50%;
    font-size: 10px;
    color: white;
}
